<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Forgot Password</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  <input type="checkbox" id="check">

<!--  LOGIN  -->

  <div th:if="${error != null}">
    <p class="text-danger"> [[${error}]]</p>
  </div>

  <div th:if="${message != null}">
    <p class="text-danger"> [[${message}]]</p>
  </div>

  <div class="login form">
    <header>  </header>
    <form th:action="@{/forgotPassword}" method="post">
      <p>Enter the email associated with your account</p>
      <input type="email" name="email" placeholder="Enter your email" required>
      <input type="submit" class="button" value="Send Code Verification">
    </form>
  </div>
</div>

</body>
</html>