<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error</title>

  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
  <input type="checkbox" id="check">

  <!-- Log in form \-->
  <div class="login form">
    <h2>[[${title}]]</h2>
    <h4 style="align-content: center;">[[${message}]]</h4>
  </div>
</div>

</body>
</html>